<!DOCTYPE html>
<html>
<head>
  <title>Getting Things Done with Engine Yard AppCloud</title>
  
  <%= stylesheet_link_tag "core" %>
  <%= stylesheet_link_tag "jq-tabs" %>
 
  <%= javascript_include_tag "jquery-1.5.1.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.13.js" %>
  <%= javascript_include_tag "jquery_ujs.js" %>
  
  <%= csrf_meta_tag %>
  
</head>
<body>
    <div id="all">
        <div id="header">
            <h1><span class="intro">Getting Things Done</span></h1>
            <% if @user != nil %>
            <p class="sample"><%= @user.email %> <%= link_to 'logout', signout_path %></p>
            <% else %>
            <p class="sample"><%= link_to "login", "/auth/dailycred" %></p>
            <% end %>
        </div>
        <div id="content">
            <% if alerted = alert %>
                <p id="alert"><%= alerted %></p>
            <% end %>
            <%= yield %>
        </div>
		<div id="foot">
			<div class="copyright">
			<p>   
			  Forked with love from <a href='http://engineyard.com'>Engine Yard</a> by <a href="https://dailycred.com">dailycred</a>.<br>
			  Copyright © Engine Yard, Inc. All rights reserved.
			</p>
			</div>
		</div>
    </div>
    <!-- dailycred -->
  <script>
  var home = 'http'+ (document.location.hostname === 'localhost' ? '://localhost:9000' : 's://www.dailycred.com');
  var dc_opts = {"clientId":"85ee2b19-9e07-4ff1-8953-e44ed8fc8edc"};
  (function() {
    var dc = document.createElement("script");
    dc.type = "text/javascript"; dc.async = true; 
    dc.src = 'http'+ (document.location.hostname === 'localhost' ? '://localhost:9000' : 's://www.dailycred.com') + '/public/js/cred.coffee';
    document.body.appendChild(dc);
  })();
  </script>
  <!-- end dailycred -->
</body>
</html>
